@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "Fonts";

* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

.landing-page {
  background: #050925;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.landing-content {
  display: flex;
  flex-direction: column;
}

// INTRO MESSAGE
.intro-message {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 30px;
}

.message-left {
  color: #92a7e9;
  font-weight: bold;
  font-size: 25px;
  align-self: flex-start;
  margin-bottom: 10px;
}

.message-right {
  color: white;
  font-weight: bold;
  font-size: 45px;
  align-self: flex-end;
  padding-left: 50px;
}

.message-right-underline {
  color: #92a7e9;
  border-bottom: 4px solid #92a7e9;
}

// ABOUT ME
.about-me {
  border: 5px solid rgba(146, 167, 233, 0.1);
  border-left: 5px solid #92a7e9;
  border-radius: 8px;
  align-self: center;
  position: relative;
  padding: 25px;
  margin-top: 50px;
  width: 35vw;
  margin-bottom: 75px;
}

.about-header {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -25px;
  left: 15px;
}

.about-header-text {
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-left: 15px;
}

.about-content {
  color: white;
  font-size: 20px;
  width: 1;
}

// SERVICES
.services {
  border: 5px solid rgba(146, 167, 233, 0.1);
  border-left: 5px solid #92a7e9;
  border-radius: 8px;
  align-self: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin-bottom: 75px;
}

.services-header {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: 30px;
}

.services-title {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-left: 15px;
}

.service-item {
  border: 4px solid rgba(146, 167, 233, 0.1);
  padding: 15px;
  border-radius: 8px;
  width: 70%;
  align-self: center;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.service-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.service-description {
  color: white;
  font-size: 16px;
  opacity: 0.5;
}

#front-end {
  border-left: 4px solid #e96a83;
}

#ui {
  border-left: 4px solid #46f16e;
}

#design {
  border-left: 4px solid #f1a45d;
}

// PROJECTS CARD
.projects {
  border: 5px solid rgba(146, 167, 233, 0.1);
  border-left: 5px solid #92a7e9;
  border-radius: 8px;
  align-self: center;
  padding: 25px;
  display: flex;
  flex-direction: row;
  width: 35vw;
  margin-bottom: 75px;
  justify-content: center;
  align-items: center;
  transition: 0.3s border ease-out 0s;
}

.projects-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.2s transform ease-out 0s;
}

.projects:hover {
  border: 5px solid #92a7e9;
}

.projects-title {
  margin-left: 25px;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

// CONTACT
.contact {
  border: 5px solid rgba(146, 167, 233, 0.1);
  border-left: 5px solid #92a7e9;
  border-radius: 8px;
  align-self: center;
  padding: 25px;
  display: flex;
  flex-direction: row;
  width: 35vw;
  margin-bottom: 75px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact-method {
  border: 4px solid rgba(146, 167, 233, 0.1);
  padding: 15px;
  border-radius: 8px;
  width: 70%;
  align-self: center;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 21px;
  transition: 0.3s border ease-out 0s;
}

.contact-method:hover {
  border: 4px solid #92a7e9;
}

.contact-header {
  display: flex;
  flex-direction: row;
}

.contact-title {
  font-size: 35px;
  font-weight: bold;
  color: white;
  align-self: center;
  margin-left: 15px;
}

@media only screen and (max-width: 1300px) {
  .about-me {
    width: 75%;
  }
  .services {
    width: 75%;
  }
  .projects {
    width: 75%;
  }
  .contact {
    width: 75%;
  }
  .service-item {
    width: 90%;
  }
}
